/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* header & nav */
header{
	display:flex;
	justify-content: space-evenly;
}
nav{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 65%;
}
 .title{
	display: flex;
	margin: 5%;
	justify-content: center; 
} 
h1{
	font-size: 80px;
	border: 1px solid red;
	padding: 10%;
	text-align: center;
	display: flex;
	flex-direction: column;	
}
.button{
	border: 1px solid black;
	padding: 1%;
	display: flex;
	margin: 1%;
}

p{
	display: inline-block;
	/* background-color: grey; */
	width: 45%;
}
#features{
	position: absolute;	
	left: 2%;
	top: 100%;
}
#about{
	position: absolute;	
	left: 60%;
	top: 100%;
	width: 750px;
}	
.middle-img{
	padding: 1.5%;
	position: absolute;
	top: 135%;
}
#services{
	position: absolute;	
	left: 2%;
	top: 190%;
	width: 50%;
}
#product{
	position: absolute;	
	left: 39%;
	top: 190%;
	width: 50%;
}
#vision{
	position: absolute;	
	left: 75%;
	top: 190%;
	width: 50%;
}
#contact{
	position: absolute;
	top: 240%;
}
address{
	position: absolute;
	top: 230%;
}
footer{
	position: absolute;
	top: 270%;
	left: 45%;
}